*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
html{
    font-size: 65%;
    overflow-x: hidden;
}
:root
{
    --bg-color:#fdfdfd;
    --text-color:#333;
    --main-color:#0073e6;
    --white-color:#fdfdfd;
    --shadow-color:rgba(0,0,0,.2);
    --menuicon-color:#3333;
}
.darktheme{
    --bg-color:#141414;
    --text-color:#fdfdfd;
    --main-color:rgb(100, 161, 247);
    --white-color:#fdfdfd;
    --shadow-color:#fdfdfd;
    --menuicon-color:#fdfdfd;
}
body
{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header
{
    height: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 7%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky
{
    background-color: var(--bg-color);
    box-shadow: 0 .1rem .4rem var(--shadow-color);
}

.logo
{
    font-size: 2.5rem;
    color:var(--main-color);
    font-weight: 600;
    cursor: default;

}
.header.sticky .navbar a
{
    color:var(--text-color);
}
.header.sticky .navbar a:hover
{
    color: var(--main-color);
}
.header.sticky .navbar a::before
{
    background-color: var(--main-color);
}
.navbar a
{
    font-size: 1.7rem;
    color:var(--main-color);
    margin-left: 1.8rem;
    text-transform: capitalize;
    position: relative;
}
.navbar a::before
{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    bottom: -6px;
    height: .2rem;
    background-color: var(--main-color);
    transition: .3s ease;

}
.navbar a:hover::before
{
    width: 100%;
}
.navbutton{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
/* The switch - the box around the slider */
.switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: rgb(132, 181, 250);
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0px 20px var(--shadow-color);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .switch input:checked + .slider {
    background:rgb(5, 103, 242);
  }
  
  .switch input:focus + .slider {
    background:rgb(5, 103, 242);
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.6em);
    width: 1.5em;
    height: 1.5em;
    bottom: 0;
  }
#menu_icon{
    color: var(--menuicon-color);
    font-size: 3.2rem;
    display: none;
    margin-left: 2rem;
}
section
{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home
{
    display: flex;
    align-items: center;
}
.home .home-content
{
    max-width: 44rem;
}
.home-content h3{

    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
}
.home-content h1
{
    font-size: 5.6rem;
    font-weight: 700;
}
.home-content h5
{
    font-size: 3rem;
    font-weight: 700;
}
.home-content h5 span
{
    color: var(--main-color);
}
.home-content p
{
    font-size: 1.6rem;
    text-align: justify;
}
.home-content .socials a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .2rem(var(--shadow-color));
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .3s ease;
}
.home-content .socials a:hover
{
    color: var(--white-color);
    background-color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn {
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: .6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .3s ease;
    justify-content: space-between;
    border: .1rem solid transparent; /* Add this line */
}

.btn:hover {
    background-color: transparent;
    border-color: var(--main-color); /* Change the border color on hover */
    color: var(--main-color);
}
.home_img img {
    width: 35vw;
    height: 35vw;
    object-fit: cover;
    margin-left: 20rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 5rem var(--main-color);
    
}

span{
    color: var(--main-color);
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    
}
.about_img img

{
    width: 35vw;
    border-radius: 2rem;
    box-shadow: 0 1rem 5rem var(--main-color);
}
.about_content
{
    margin-left: 7%;
}
.heading
{
    text-align: center;
    font-size: 5rem;
    
}
.about_content h2
{
    text-align: left;
}
.about_content h3
{
    font-size: 2.5rem;
    line-height: 1.2;
}
.about_content p
{
    font-size: 1.4rem;
    text-align: justify;
    margin: 2rem 0 3rem 0;
}
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 1000px;
    max-width: 90%;
    height: 400px;
    padding: 20px;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid gainsboro;
    border-radius: 1.5rem;
}

.heading_pop {
    align-items: center;
    font-size: 4rem;
}

.heading_pop span {
    color:var(--main-color);
}

.popup .close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
.skills .skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2%;
}
.skill-container .skill-box 
{
    flex: 1 1 30rem;
    background-color: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow:  0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
}
.skill-box i {
    font-size: 7rem;
    color: var(--main-color);

}
.skill-box h3 {
    font-size: 2.6rem;
}
.skill-box h3 span{
    font-size: 2.6rem;
    color: var(--main-color);
}
.skill-box p {
    font-size: 1.6rem;
    margin:  1rem 0 3rem;
}
.porject-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4%;
}
.porject-container .project-box
{
    position: relative;
    display: flex;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow:  0 .1rem .3rem var(--shadow-color);
}
.project-box img{
    width: 100%;
    transition: .5s;
}
.project-box:hover img
{
    transform: scale(1.1);
}
.project_imfo
{
    position: absolute;
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    padding: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    opacity: 0;
    transition: .3s ease;
}
.project_imfo:hover
{
    opacity: 1;
}
.project_imfo h2{
    font-size: 2.6rem;
}
.project_imfo p
{ 
    font-size: 1.3rem;
    align-items: center;
    text-align: justify;
    padding:1.2rem 0rem 1.2rem 0;
}
.project_imfo .btn 
{
    border-radius: 5rem;
    background-color: white;
    color: var(--main-color);
}
.project_imfo .btn:hover
{
    border: 1px solid var(--white-color);
    color: var(--white-color);
    background-color: transparent;
    box-shadow: 0 .1rem 3rem var(--white-color);
}
.contact form 
{
  
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    
}
.contact-container
{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.contact-container input,
.contact textarea
{
    width: 100%;
    padding: 1.5rem ;
    margin: 1%;
    font-size: 1.6rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem .5rem var(--shadow-color);
}
.contact-container input
{
    width: 48%;
}
.contact textarea
{
    resize: none;
    width: 98%;
}
.contact .btn
{
    margin-top: 3%;
}

.skills-container2 {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
  }
  
  .skill {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .skill-name {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #3498db;
    border-radius: 10px;
    transition: width 1s ease-in-out;
  }
@media  (max-width: 1200px)
{
    html{
        font-size: 50%;
    }
    
}

@media (max-width:1024px){
    section {
        padding: 10rem 3% 2rem;
    }
}
@media (max-width:946px)
{
    .header
    {
        height: 2;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.5rem 7%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        transition: .3s;
    }
    .images {
        width: 50%;
        height: 100%;
        position: absolute;
        margin-top: 7%;
        transition: .4s ease-in-out;
      }
      
    .images img {
        height: 85%;
        position: absolute;
        left: 80%;
        top: 0;
        transform: translateX(-50%);
        transition: bottom 1s left 1s;
      }
      .home .home-content {
        max-width: 50rem;
      }
      .skills,
      .project{
        padding-bottom: 7rem;
      }

}
@media screen and (max-width: 868px)
{
    html{
        font-size: 45%;
    }
}

@media  (max-width: 768px) {

    #menu_icon{
        display: block;
    }
    .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3% 1rem 7rem;
        background-color: var(--bg-color);
        border-top: .1rem solid rgb(0,0,0,.2);
        box-shadow: 0 .5rem 1rem var(--shadow-color);
        display: none;   
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--text-color);
    }
    .navbar a::before
    {
        display: none;
    }
    .navbutton .switch{
        margin-right: 2%;
    }
    .navbar.active{
        display: block;
    }
    .home {
        justify-content: center;
        text-align: center;
        max-width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .home-content{
        padding-left: 15rem;
        padding-right: 15rem;
    }
    .home .home-content{
        max-width: 100%;
    }
    .home-content h3{
        font-size: 6rem;
    }
    .home-content h1 {
        font-size: 8rem;
    }
    .home-content h5 {
        font-size: 3rem;
    }
    .home-content p
    {
        font-size: 2rem;
        text-align: justify;
    }
    .home_img img {

        display: none;
    }
    .home-content .socials a{
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
        border: .4rem solid var(--main-color);
    }
    .home  .btn{
        font-size: 2rem;
    }
    .about {
        flex-direction: column-reverse;
        text-align: center;
    }
    .about_content
    {
        justify-content: center;
        padding-right: 8rem;
    }
    .about_content h2{
        text-align: center;
    }
    .about_content p{
        font-size: 1.6rem;
    }
    .about_img img {
        width: 70vw;
        margin-top: 2rem;
     }
     .project .porject-container {
        grid-template-columns: repeat(2,1fr);
     }
     .skills-container2 {
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 20px;
      }
}
 @media(max-width:617px){
    .project .porject-container {
        grid-template-columns: 1fr;
    }
 } 

@media (max-width: 450px){
    html {
        font-size: 50%;
    }
    .home-content{
        padding: 15rem 2rem 0 2rem;

    }
    .home-content h3{
        font-size: 4rem;
    }
    .home-content h1 {
        font-size: 6rem;
    }
    .home-content h5 {
        font-size: 2.4rem;
    }
    .home-content p
    {
        font-size: 1.7rem;
        
    }
    .about_content
    {
        justify-content: center;
        padding-right: 5rem;
    }
    .popup .content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background: #fff;
        width: 1000px;
        max-width: 90%;
        height: 400px;
        padding: 20px;
        z-index: 2;
        text-align: center;
        box-sizing: border-box;
        border: 5px solid gainsboro;
        border-radius: 1.5rem;
        overflow-y: hidden;
        overflow-y: scroll;
    }
    .skills-container2 {
        display: grid;
        grid-template-columns:repeat(1,1fr);
        gap: 20px;
      }
} 